*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container
{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding-top:40px;
        
}
.head
{
    font-size: 55px;
    position: relative;
    top:-20px;
    left:100px;
    padding-top:8px;
    width: 100%;
} 
.company
{
    color:rgb(255, 77, 0);
}
.box
{
    height:40px;
    width:40px;
    background-color: #007f7b;
    box-shadow:inset 5px 5px 5px black;
    position: relative;
    left: -2%;
    top:15px;
    margin:40px;
}

.name
{
    position: relative;
    top:-70px;
}
.choice
{
    background-color: #27504b;
    opacity:  0.8;
    color: white;
    width:30%;
    text-align: center;
    position:absolute;
    top:0px;
    left:55%;
    padding:70px 0px 80px 0px;
    border-bottom-left-radius:180px;
    border-bottom-right-radius:180px;
}
.we
{
    font-size: 45px;
}

img
{
    max-width: 100%;
    height: auto;
    width: 1500px;
}
.services
{
    color:#007f7b;
    height: auto;
    width:70%;
    text-align: center;
    padding: 60px 0 0 0;
    }
.our
{
    font-size: 35px;
    position:relative;
    
}
.service
{
    font-size: 90px;
    color:rgb(255, 77, 0);
    font-weight: bold;
}
.service-name
{
    color:#007f7b;
    font-size:20px;
    position: relative;
    top:-38px;
}
.about-service
{
    color: black;
    font-size:15px;
    position: relative;
    top:-20px;
    left:40%;
    width:150%;
}
.service1
{
    position: relative;
    top:-50px;
    
}
.service2
{
    position: relative;
    top: 50px;
   
}
.information
{
    width:150%;
    position: relative;
    top:-40px;
    left:90%;

    
}
.aboutus
{
    background-color: #27504b;
    padding:15%;
    color: white;
}
.CONTACTUS
{
    background-color:rgb(255, 77, 0);
    padding: 15%;
    color:white;
}
.detail
{
    padding: 2% 5% 2% 5%;
}
.example
{
    padding: 50px 0 50px 0;
    background-color:#e5ebe9;
    text-align: center;
}
.orenge-line
{
    height: 15px;
    background-color:rgb(255, 77, 0);
    width: 100%;
  
}
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .head {
        font-size:25px;
        position: relative;
        left:15%;
    }
    .box
    {
        position: relative;
        left:-3%;
        top:-20px;
    }
    .choice {
        width:35%;
       height:36%;
        border-radius:-1;
        position:absolute;
        top: 0%;
        left:57%;
    }
    .we{
        font-size: 35px;
    }
    .img img {
        width:1000px;
    }
    .services {
        width:100%;
    }
    .services h2 {
        font-size: 30px;
        position: relative;
    }
    .service {
        font-size: 60px;
        position: relative;
        left: -20%;
        right: 0;
    }
    .service-name,
    .about-service {
        position: relative;
        left: 3%;
        
    }
    .information {
        width: 100%;
        left: 0;
        top: 0;
    }
    .aboutus,
    .CONTACTUS {
        padding: 10%;
    }
    .detail {
        padding: 2% 0;
    }
    .example {
        padding: 30px 0;
    }
    .orenge-line {
        top: -00px;
    }
}
